:root {
  font-family: inter, poppins, "Times New Roman", Times, serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #dae8fa;
  background: linear-gradient(180deg, #3f0130, #1b0115);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  cursor: default;
}
h2 {
  text-align: left;
  cursor: default;
}
h3 {
  text-align: left;
  cursor: default;
}
p {
  cursor: default;
}

.icon {
  font-size: 1.6rem;
  margin-right: 1rem;
}
.icon:hover {
  transform: scale(1.2);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

/* -------- Header -------- */
.header {
  width: 100vw;
  background: #1b0115;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1000;
  text-align: left;
}
.header-con {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.8rem;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.nav .link a {
  color: #dae8fa;
  position: relative;
}
.link a:hover {
  color: orangered;
}
.link a.active {
  color: #72d490;
}
.link a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: orangered;
  bottom: -3px;
  left: 0;
}

/* -------- Hero -------- */
.hero {
  width: 100vw;
  margin: 1rem auto;
  padding: 1rem;
}
.hero .hero-con {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  text-align: left;
}
.hero-con .hero-details {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.hero .hero-con .hero-img {
  width: fit-content;
  border-radius: 10px;
}
.hero .hero-img img {
  width: 100%;
  max-width: 320px;
  height: auto;
  background: linear-gradient(to bottom, #07f3d3, #026659);
  box-shadow: 1px 3px 10px black;
  border-radius: 10px;
  padding: 0 20px;
  aspect-ratio: 9/12;
  filter: brightness(1.2);
  text-align: left;
}

/* -------- Contact Button -------- */
.contact-btn {
  border: 0;
  outline: none;
  border-radius: 5px;
  background-color: #0bf70b;
  color: black;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  padding: 0.4rem 1.5rem;
  cursor: pointer;
}
.contact-btn:hover {
  background-color: #048004;
  color: white;
  box-shadow: inset 1px 1px 0 white;
}

/* -------- About -------- */
.about-con {
  width: 100vw;
}
.about {
  width: 80%;
  margin: 5rem auto;
}
.about-me {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}
.about-img img {
  width: 100%;
  max-width: 350px;
  height: auto;
  background: linear-gradient(to bottom, #0789f3, #020466);
  box-shadow: 1px 3px 10px black;
  border-radius: 10px;
  aspect-ratio: 9/12;
  object-fit: cover;
  filter: brightness(1.5);
}
.about-data {
  width: 60%;
}
.about-data p {
  text-align: left;
}

/* -------- Skills -------- */
.skills {
  margin: 2rem auto;
}
.skill-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.CircularProgressbar-text {
  dominant-baseline: middle;
  text-anchor: middle;
  cursor: default;
}

/* -------- Services -------- */
.services {
  width: 100%;
}
.service-con {
  width: 80%;
  margin: 0 auto;
}
.service {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4rem;
  text-align: center;
  margin-top: 2rem;
}
.service .service-item {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  height: auto;
  padding: 10px;
}
.service-title {
  margin-bottom: 2rem;
}

.service-item p {
  text-align: left;
  font-size: 18px;
}
.service-item:hover {
  transform: scale(1.01);
  box-shadow: 1px 2px 8px black;
  border: 1px solid orangered;
}

/* -------- Projects -------- */
.project-con {
  width: 100vw;
  max-height: 1000px;
  height: 500px;
  overflow-y: auto;
  margin: 3rem auto;
}
.projects {
  width: 80%;
  margin: 0 auto;
}
.project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 1rem;
}
.project-item {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: rgb(150, 4, 113);
  border: 1px solid white;
}
.project-item:hover {
  border: 1px solid orangered;
  transform: scale(1.02);
}
.project-item a {
  color: white;
  display: block;
}
.project-item a img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  aspect-ratio: 16/9;
}
.project-item a h3 {
  padding: 0.5rem;
}

/* -------- Contact -------- */
.contact-sec {
  width: 100vw;
  margin: 1rem auto;
  text-align: left;
}
.contact-sec .container {
  width: 80%;
  margin: 5rem auto;
}
.container .contact-con {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}
.contact-con .info-con {
  margin-top: 3rem;
}
.contact-con .message-con {
  width: 70%;
}
.message-con .input-con {
  width: 100%;
  margin-bottom: 1rem;
}
.input-con .input-field {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  outline: none;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}
.input-field:hover {
  border: 1px solid orangered;
}

/* ......................footer section.................... */
.footer {
  border-top: 1px solid #d1c9c9ff;
  width: 100vw;
  padding: 1rem;
  background-color: #0e010a;
}

/* ✅ Media Queries for Responsive Design */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
  a {
    font-size: 18px;
  }
  .header-con {
    gap: 2rem;
  }
  .nav {
    width: 70%;
  }
  .about {
    gap: 2rem;
  }
  .service {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .service-item p {
    font-size: 16px;
  }
  .contact-btn {
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  a {
    font-size: 16px;
  }
  .header-con,
  .hero-con,
  .contact-con {
    flex-direction: column;
  }
  .header-con {
    gap: 1rem;
  }
  .nav {
    width: 100%;
    gap: 0.8rem;
  }
  .hero-con .hero-details {
    width: 100%;
  }
  .about {
    gap: 1rem;
  }
  .about-img {
    display: none;
  }
  .about-data {
    width: 100%;
  }
  .contact-con .message-con {
    width: 100%;
  }
  .contact-btn {
    padding: 0.1rem 0.3rem;
    font-size: 0.9rem;
  }
  .service-item p {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  a {
    font-size: 14px;
  }

  .header-con {
    padding: 0.4rem;
    gap: 0.5rem;
  }
  .hero-con .hero-details {
    width: 100%;
  }
  .nav {
    flex-direction: column;
    align-items: start;
    gap: 0.2rem;
  }
  .contact-btn {
    padding: 0.1rem 0.2rem;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
}
